name: Build and Deploy Spring Boot Application via SSH

on:
  push:
    branches:
      - master  # 타겟 브랜치
      
jobs:
  build:
    runs-on: ubuntu-latest # Ubunt로 실행

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Add Permissions for gralde wrapper
        run: chmod +x ./gradlew
        
      - name: Build with Gradle
        run: ./gradlew clean build -x test # 빌드 과정에서 테스트 생략 -> 후일 테스트까지 하게 바꿔봐야겠다.

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add Known Hosts
        run: |
            mkdir -p ~/.ssh
            ssh-keyscan -H localhost >> ~/.ssh/known_hosts
          
      - name: Add Permissions for .jar file
        run: chmod +x ./build/libs/*.jar
        
      - name: Copy jar file to Local Docker Container via SSH
        run:
          # SSH를 사용해서 로컬 WSL에 파일 복사하기
          scp -v build/libs/*.jar root@localhost:/home/root/spring/docker/compose/board/jar/
        
        
